.alert.release
  .container
    %ul
      %li Current Releases:
      %li
        %span.release-name<
          = link_to "Dart Sass", "/dart-sass"
          -# Force space between the two links.
          &#32;
          = link_to impl_version(:dart) || "???", release_url(:dart)

      %li
        %span.release-name<
          = link_to "LibSass", "/libsass"
          -# Force space between the two links.
          &#32;
          = link_to impl_version(:libsass) || "???", release_url(:libsass)

      %li
        %span.release-name<
          = link_to "Ruby Sass", "/ruby-sass"
          -# Force space between the link and the coffin.
          &#32; ⚰

      %li= link_to "Implementation Guide", "/implementation"
