<div id="example-{{ id }}-{{ syntax }}" class="ui-tabs-panel {{ syntax }}{% unless enabled %} ui-tabs-panel-inactive{% endunless %} sl-c-code-panel">
  {%- if playgroundLink -%}
    <a href="/playground#{{ playgroundLink }}" class="sl-c-to-playground" target="_blank" data-syntax="{{ syntax }}">
      <img
        class="sl-c-to-playground__logo"
        height="24"
        alt="Sass"
        src="/assets/img/logos/logo.svg"
      >
      Playground
    </a>
  {%- endif -%}
  <h3 class="visuallyhidden">{{ name }}</h3>
  {%- for example in examples -%}
    {%- assign padding = paddings[forloop.index0] | default: 0 -%}
    {%- code syntax, padding %}{{ example | strip }}{% endcode -%}
  {%- endfor -%}
</div>
