<div
  id="example-{{ id }}-{{ syntax }}"
  class="ui-tabs-panel {{ syntax }}{% unless enabled %} ui-tabs-panel-inactive{% endunless %}"
>
  <h3 class="visuallyhidden">{{ name }}</h3>
  {% for example in examples %}
    {% code syntax %}{{ example | strip }}{% endcode %}
  {% endfor %}
</div>
