!!! 5

<!--[if lt IE 7]><html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7">
<!--[if IE 7]>   <html lang="en" class="no-js lt-ie9 lt-ie8">
<!--[if IE 8]>   <html lang="en" class="no-js lt-ie9">
<!--[if gt IE 8]><!-->
%html.no-js(lang="en")
  <!--<![endif]-->

  %head
    = partial "/layouts/partials/head_meta_data"
    = partial "/layouts/partials/head_compatibility"

    = stylesheet_link_tag "sass"
    = partial "/layouts/partials/head_scripts"
    = yield_content :head

  %body{:class => page_classes}

    = partial "/layouts/partials/compatibility"
    = partial "/layouts/partials/banner"
    = partial "/layouts/partials/breadcrumb"



    #content(role="main")
      %h1= data.page.title
      = yield



    = partial "/layouts/partials/complementary"
    = partial "/layouts/partials/contentinfo"
    = partial "/layouts/partials/foot_scripts"