!!! 5

<!--[if lt IE 7]><html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7">
<!--[if IE 7]>   <html lang="en" class="no-js lt-ie9 lt-ie8">
<!--[if IE 8]>   <html lang="en" class="no-js lt-ie9">
<!--[if gt IE 8]><!-->
%html.no-js(lang="en")
  <!--<![endif]-->

  %head
    = partial "/layouts/partials/head_meta_data"
    = partial "/layouts/partials/head_compatibility"

    = stylesheet_link_tag "base"
    = stylesheet_link_tag "theme/sass"

    = partial "/layouts/partials/head_scripts"

    = yield_content :head

  %body{:class => page_classes}

    = partial "/layouts/partials/banner"

    = yield

    = partial "/layouts/partials/footer"

    = partial "/layouts/partials/foot_scripts"