!!!
= partial "layouts/head/ie"
<!--[if gt IE 8]><!-->
%html.no-js(lang="en"){:class => data.page.head_classes}
  <!--<![endif]-->
  %head
    %meta(charset="utf-8")/
    %title= page_title
    = partial "layouts/head/meta"
    = partial "layouts/head/css"
    = partial "layouts/head/js"
    = partial "layouts/head/link"

  %body{class: page_classes}
    .page
      = partial "layouts/regions/toolkit"
      = partial "layouts/regions/browsehappy"
      = partial "layouts/regions/alert"
      .pop-stripe
      = partial "layouts/regions/banner"
      = partial "layouts/regions/page_header"

      .body
        =yield

        - if content_for?(:section_middle)
          %section.section-middle
            .container= yield_content :section_middle

      .alert.release
        .container
          %ul
            - if data.respond_to?(:version)
              %li Current Release: <span class="release-name">#{data.version.name} (#{data.version.number})</span>
            - else
              %li Current Release: <span class="release-name">???</span>
            %li=link_to "Release Notes", "/documentation/file.SASS_CHANGELOG.html"
            %li=link_to "Fork on Github", "https://github.com/nex3/sass"

      - if content_for?(:section_bottom)
        %section.section-bottom
          .container= yield_content :section_bottom

    = partial "layouts/regions/contentinfo"
    = partial "layouts/foot/js"
