!!!
= partial "layouts/head/ie"
<!--[if gt IE 8]><!-->
%html.no-js(lang="en"){:class => data.page.head_classes}
  <!--<![endif]-->
  %head
    %title= page_title
    = partial "layouts/head/meta"
    = partial "layouts/head/stylesheets"
    = partial "layouts/head/javascripts"
    = partial "layouts/head/link"

  %body{class: page_classes}
    .page
      = partial "layouts/regions/toolkit"
      = partial "layouts/regions/browsehappy"
      = partial "layouts/regions/alert"
      .pop-stripe
      = partial "layouts/regions/banner"
      = partial "layouts/regions/page_header"

      =yield
      = partial "layouts/regions/section_bottom"

      .alert.release
        .container
          %ul
            - if data.respond_to?(:version)
              %li Current Release: <span class="release-name">#{data.version.name} (#{data.version.number})</span>
            - else
              %li Current Release: <span class="release-name">???</span>
            %li=link_to "Release Notes", "http://sass-lang.com/docs/yardoc/file.SASS_CHANGELOG.html"
            %li=link_to "Fork on Github", "https://github.com/nex3/sass"

    = partial "layouts/regions/contentinfo"
    = partial "layouts/foot/javascripts"
