!!!5
%html.no-js(lang="en"){:class => data.page.head_classes}
  %head
    %meta(charset="utf-8")/
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")/
    %title= page_title
    = partial 'layouts/head/meta'
    = partial 'layouts/head/link'
    = partial 'layouts/head/css'
    = partial 'layouts/head/js'

  %body{class: page_classes}
    /[if lt IE 9]
      %p.browserupgrade
        You are using an
        %strong outdated
        browser. Please
        = link_to 'upgrade your browser', 'https://browsehappy.com/'
        to improve your experience and security.

    = partial 'layouts/roles/alert'

    .pop-stripe

    = partial 'layouts/regions/banner'

    %main(role='main')
      = partial 'layouts/regions/page_header'

      .body
        .sl-l-container= Typogruby.improve(yield)

    = partial 'layouts/regions/release'

    - if content_for?(:section_bottom)
      %section.section-bottom
        .sl-l-container= Typogruby.improve(yield_content :section_bottom)

    = partial 'layouts/regions/contentinfo'
    = partial 'layouts/foot/js'
