!!!
= partial "layouts/head/ie"
<!--[if gt IE 8]><!-->
%html.no-js(lang="en"){:class => data.page.head_classes}
  <!--<![endif]-->
  %head
    %title= page_title
    = partial "layouts/head/meta"
    = partial "layouts/head/stylesheets"
    = partial "layouts/head/javascripts"
    = partial "layouts/head/link"

  %body{class: page_classes}
    .page
      = partial "layouts/regions/toolkit"
      = partial "layouts/regions/browsehappy"
      = partial "layouts/regions/alert"
      .pop-stripe
      = partial "layouts/regions/banner"
      = partial "layouts/regions/page_header"

      =yield

      .alert.release
        .container 
          %ul
            %li Current Release: #{data.version.name} (#{data.version.number})
            %li=link_to "Release Notes", "#"
            %li=link_to "Fork on Github", "#"

      = partial "layouts/regions/section_bottom"
    = partial "layouts/regions/contentinfo"
    = partial "layouts/foot/javascripts"
