!!!5
%html.no-js(lang="en"){:class => data.page.head_classes}
  %head
    %meta(charset="utf-8")/
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")/
    %title= page_title
    = partial "layouts/head/meta"
    = partial "layouts/head/link"
    = partial "layouts/head/css"
    = partial "layouts/head/js"

  %body{class: page_classes}
    .page
      = partial "layouts/roles/alert"
      .pop-stripe
      = partial "layouts/regions/banner"
      = partial "layouts/regions/page_header"

      .body
        .container
          .content
            - if content_for?(:introduction)
              %p.introduction= yield_content :introduction
            %main.main(role="main")=yield

        - if content_for?(:section_middle)
          %section.section-middle
            .container= yield_content :section_middle

      = partial "layouts/regions/release"

      - if content_for?(:section_bottom)
        %section.section-bottom
          .container= yield_content :section_bottom

    = partial "layouts/regions/contentinfo"
    = partial "layouts/foot/js"
