!!!
= partial "layouts/head/ie"
<!--[if gt IE 8]><!-->
%html.no-js(lang="en"){:class => data.page.head_classes}
  <!--<![endif]-->
  %head
    %title= page_title
    = partial "layouts/head/meta"
    = partial "layouts/head/stylesheets"
    = partial "layouts/head/javascripts"
    = partial "layouts/head/link"

  %body{class: page_classes}
    .page
      = partial "layouts/regions/toolkit"
      = partial "layouts/regions/browsehappy"
      = partial "layouts/regions/alert"
      .pop-stripe
      = partial "layouts/regions/banner"
      = partial "layouts/regions/page_header"

      =yield

      .alert.release
        .container
          :markdown
            * Current Release:
              <span class="release-name">Media Mark (3.2.1)</span>
            * [Release Notes](http://sass-lang.com/docs/yardoc/file.SASS_CHANGELOG.html)
            * [Fork Sass on Github](https://github.com/nex3/sass)

      = partial "layouts/regions/section_bottom"
    = partial "layouts/regions/contentinfo"
    = partial "layouts/foot/javascripts"
