= wrap_layout :layout do
  = yield

  - if current_page.data.previous_page_url or current_page.data.next_page_url
    %footer
      %ul.pager
        - if current_page.data.previous_page_url
          %li.previous
            - if current_page.data.previous_page_url == "index"
              - previous = ""
            - else
              - previous = current_page.data.previous_page_url
            = link_to "/styleguide/" + previous do
              &larr;
              = current_page.data.previous_page_name
        - if current_page.data.next_page_url
          %li.next
            = link_to "/styleguide/" + current_page.data.next_page_url do
              = current_page.data.next_page_name
              &rarr;

  - content_for :complementary do
    - root_url = config[:host]
    %h3= link_to "Style Guide", "/styleguide"

    %ul
      - sitemap.resources.each do |page|
        - if page.url =~ /styleguide/
          - unless page.url =~ /assets/
            - unless page.data.title == "Style Guide"
              - unless page.data.title == "Responsive Test"
                %li= link_to "#{page.data.title}", "#{root_url}#{page.url.gsub!(/(\/)+$/,'')}"
