%header.banner(role="banner")
  .container
    %h1.site-title= link_to image_tag("logo.png", :width => "80", :height => "60", :alt => "Sass"), "/"



%nav.navigation(role="navigation")
  .container
    %ul
      %li= link_to "Home",          "/"
      %li= link_to "Quickstart",    "/quickstart"
      %li= link_to "Documentation", "/docs"
      %li= link_to "Community",     "/community"



%hr/