%header.banner(role="banner")
  .message.release-information
    .container
      %p
        Current Release:
        %strong Media Mark (3.2.1)
      %ul
        %li= link_to "Release Notes",       "#"
        %li= link_to "Fork Sass on Github", "#"

  .container
    %h1.site-title= link_to image_tag("logo.png", :width => "160", :height => "120", :alt => "Sass"), "/"

%nav.navigation(role="navigation")
  .container
    %ul
      %li= link_to "Home",          "/"
      %li= link_to "Quickstart",    "/quickstart"
      %li= link_to "Documentation", "/docs"
      %li= link_to "Community",     "/community"

%hr/