%footer.contentinfo(role="contentinfo")
  .container
    %nav
      %ul.legal-navigation
        %li Copyright &#169; 2006&#8211;2013 Sass
        %li= link_to "MIT License", "#"

      %ul.social-navigation
        %li= link_to "Twitter",       "http://twitter.com/sasscss"
        %li= link_to "Mailing List",  "http://groups.google.com/group/sass-lang"
        %li= link_to "Github",        "https://github.com/sass"
        %li= link_to "About",         "/about"