%hr/

%footer.contentinfo(role="contentinfo")
  .container
    %p
      %span Copyright &#169; 2006&#8211;2012 Sass
      = link_to "MIT License", "#"

    %nav
      %ul
        %li= link_to "Home",          "/"
        %li= link_to "Quickstart",    "/quickstart"
        %li= link_to "Documentation", "/docs"
        %li= link_to "Community",     "/community"
        %li= link_to "Twitter",       "#"
        %li= link_to "Mailing List",  "#"
        %li= link_to "Github",        "#"