%header(role="banner")
  .ribbon
    Current Release: Media Mark (3.2.1)
    = link_to "Release Notes »", "#"
    = link_to "fork me on github", "#"

  %h1
    - if data.page.section != "Home"
      = link_to "Sass", "#"
  %nav
    %ul
      %li= link_to "Home", "/"
      %li= link_to "Quickstart", "#"
      %li= link_to "Documentation", "#"
      %li= link_to "Community", "#"