%header(role="banner")
  .ribbon
    Current Release: Media Mark (3.2.1)
    = link_to "Release Notes »", "#"
    = link_to "fork me on github", "#"

  %h1
    = link_to "/" do
      = image_tag "logo.png", :width => "160", :height => "120", :alt => "Sass"
  %nav
    %ul
      %li= link_to "Home", "/"
      %li= link_to "Quickstart", "#"
      %li= link_to "Documentation", "#"
      %li= link_to "Community", "#"