%footer
  %small
    Sass &copy; 2006 - 2012
    = link_to "MIT License", "#"

  %nav
    %ul
      %li= link_to "Home", "/"
      %li= link_to "Quickstart", "#"
      %li= link_to "Documentation", "#"
      %li= link_to "Community", "#"
      %li= link_to "Twitter", "#"
      %li= link_to "Mailing List", "#"
      %li= link_to "Github", "#"