<dl class="impl-status sl-c-description-list sl-c-description-list--horizontal">
<div class="compatibility">Compatibility{% if implStatusData.feature %} ({{ implStatusData.feature }}){% endif %}:</div>
{% if implStatusData.dart %}
<div>
<dt>Dart Sass</dt>
<dd>{{ implStatusData.dart }}</dd>
</div>
{% endif %}
{% if implStatusData.libsass %}
<div>
<dt>LibSass</dt>
<dd>{{ implStatusData.libsass }}</dd>
</div>
{% endif %}
{% if implStatusData.ruby %}
<div>
<dt>Ruby Sass</dt>
<dd>{{ implStatusData.ruby }}</dd>
</div>
{% endif %}
{% if implStatusData.markdown %}
<div><a href="javascript:;">▶</a></div>
{% endif %}
</dl>

{% if implStatusData.markdown %}
<div class="sl-c-callout sl-c-callout--impl-status" style="display:none">
{% markdown %}
{{ implStatusData.markdown }}
{% endmarkdown %}
</div>
{% endif %}
