---
title: Sass Blog
pageable: true
per_page: 5
---

- if paginate && num_pages > 1
  %p Page #{page_number} of #{num_pages}
  %p= link_to 'Previous page', prev_page if prev_page

- page_articles.each_with_index do |article, i|
  %h2= link_to article.title, article
  = partial 'layouts/components/attribution', locals: {page: article}
  = article.summary

- if paginate
  %p= link_to 'Next page', next_page if next_page
