---
title: "#teamSass"
layout: layout_1_column
---

- content_for :introduction do
  Sass has an awesome community of designers and developers who love to spread
  the word and help people out. Here we&rsquo;ve collected some resources.
  Happy&nbsp;Styling!



%ul.list-tiled
  %li
    :markdown
      Still __getting started__? There are some great  [tutorials](#Tutorials)
      out there to get you on your feet.

  %li
    :markdown
      Want to __learn more__? There's some great [Sass blogs](#Blogs)
      (including [a few particular articles](#Articles) we recommend reading),
      and even a few [books about Sass](#Books) to help you learn some new
      tips and tricks. There are also a number of [frameworks](#Frameworks)
      that make using Sass simple.

  %li
    :markdown
      Thinking of __contributing__  to Sass itself? We rely on everyone to
      keep Sass as stable as it is. Feel free to
      [submit a patch via pull request](#Contribute) to the Sass project.


%hr/

.content-primary
  %h2#Articles Sass Articles on the Web
  %ul.articles
    - for article in data.community.articles
      %li
        %h3= link_to article.name, article.url
        %p= article.description

  %h2#Contribute Contribute
  %p Sass is an open source project and we encourage you to contribute. You can contribute with bug reports and feature requests or if you have code to contribute we will love you forever.

  %p When adding bug reports, feature requests, or code there are a couple of primary branches we use.

  %dl
    %dt= link_to "Stable", "https://github.com/nex3/sass"
    %dd
      The stable branch is where we do development on the released version.
      The majority of bug fixes should go here.
      If you're just reporting a bug <a href="https://github.com/nex3/sass/issues">add an issue</a> and
      note the version of Sass where you experienced the issue in your comment.
      If you have a some code to contribute, fork the stable branch and send us a pull request.
      We'll review your patch and either accept or decline with comments.
      All bug fixes must be thoroughly tested and the tests must pass
      the <a href="https://travis-ci.org/nex3/sass/builds">build</a> on all supported versions of ruby. 

  %dl
    %dt= link_to "Master", "https://github.com/nex3/sass/tree/master"
    %dd
      The master branch is where we keep track of the next version of Sass.
      New feature requests should be made on the <a href="https://github.com/nex3/sass/issues">issue tracker</a>
      and discussed with the <a href="http://github.com/nex3">core</a> <a href="http://github.com/chriseppstein">team</a>
      before implementation begins to avoid wasted effort.
      Pull requests for new features should be made against the master branch.
      No change is allowed to break a stylesheet across sequential releases;
      every breaking change to the language must first be deprecated.

  %h2#PullRequests Pull Requests & Patches
  %p Here are a few simple things you'll need to do when submitting a patch via pull request:
  %ul
    %li Write a commit message that is well-written, descriptive and contain proper grammar and punctuation.
    %li Make sure the first line of your commit message is a short, full sentence.
    %li Contain any appropriate unit tests in your commit
    %li Add your changes to the changelog for the correct branch. The changelog is in <code>doc-src/SASS_CHANGELOG.md</code>
    %li If your change is user-facing, update the appropriate section in reference documentation.
    %li Don't combine several features or bug fixes into the same pull request.
    %li All code is given a thorough review and will likely require several iterations before being accepted.
    %li All code changes must be thoroughly tested and the tests must pass the <a href="https://travis-ci.org/nex3/sass/builds">build</a> on all supported versions of ruby. 



.content-secondary
  %h3#Tutorials Tutorials
  %ul
    - for tutorial in data.community.tutorials
      %li= link_to tutorial.name, tutorial.url

  %h3#Blogs Sass Blogs
  %ul
    - for blog in data.community.blogs
      %li= link_to blog.name, blog.url

  %h3#Books Sass Books
  %ul
    - for book in data.community.books
      %li= link_to book.name, book.url

  %h3#Projects Projects & Frameworks
  %ul
    - for project in data.community.projects
      %li
        = link_to project.name, project.url
        &mdash;
        = project.description
