%h1 Things happening in the community

.articles
  %h2 Sass Articles on the Web
  / Will clean up these articles later. It'll be a curated list of
  / articles that we'll update from time to time.
  / May be worthwhile to also list the source website, date and author
  %ul
    %li= link_to "Sass vs. Less", 'http://css-tricks.com/sass-vs-less/'
    %li= link_to "Getting Started with Sass and Compass", 'http://thesassway.com/beginner/getting-started-with-sass-and-compass'
    %li= link_to "Nested Selectors: The Inception Rule", 'http://thesassway.com/beginner/the-inception-rule'
    %li= link_to "Using Compass and Sass for your Next CSS Project", 'http://net.tutsplus.com/tutorials/html-css-techniques/using-compass-and-sass-for-css-in-your-next-project/'
    %li= link_to "Getting Sassy with CSS", 'http://www.sencha.com/blog/getting-sassy-with-css/'
    %li= link_to "A Newb’s Guide to Syntactically Awesome Stylesheets (Sass) – part 1", 'http://unmatchedstyle.com/news/a-newbs-guide-to-syntactically-awesome-stylesheets-sass-part-1.php'
    %li= link_to "Using Bower with Sass & Compass", 'http://anthonyshort.me/2012/10/using-bower-with-sass-and-compass'
    %li= link_to "Preprocess THIS!", 'http://cognition.happycog.com/article/preprocess-this'
    %li= link_to "Sass Sleuth: Debugging Sass in Webkit Browsers", 'hhttp://www.mobify.com/dev/sass-sleuth-debugging-sass-in-webkit-browsers/'
    %li= link_to "Improve your Responsive Design Workflow with Sass", 'http://www.netmagazine.com/tutorials/improve-your-responsive-design-workflow-sass'
    %li= link_to "Stop the Pain of Vanilla CSS and Get Relief by Adding Toppings with Sass", 'http://www.zurb.com/article/1031/stop-the-pain-of-vanilla-css-and-get-reli'
    %li= link_to "Building a Nested Responsive Grid with Sass & Compass", 'http://viget.com/inspire/building-a-nested-responsive-grid-with-sass-compass'

  %nav#favorite-blogs
    %h2 Sass Blogs
    / Need to research a couple more of these
    %ul
      %li= link_to "The Sass Way", 'http://thesassway.com/'
      %li= link_to "CSS Tricks", 'http://css-tricks.com/search-results/?q=sass'
      %li= link_to "Zurb", 'http://zurb.com/blog/sass'
      %li= link_to "NetTuts", 'http://net.tutsplus.com/?s=sass'
      %li= link_to "Viget Inspire", 'http://viget.com/inspire/search/YTo2OntzOjg6ImtleXdvcmRzIjtzOjQ6InNhc3MiO3M6MTE6InNlYXJjaF9tb2RlIjtzOjM6ImFsbCI7czoxMToicmVzdWx0X3BhZ2UiO3M6MTQ6Imluc3BpcmUvc2VhcmNoIjtzOjEwOiJjb2xsZWN0aW9uIjthOjE6e2k6MDtzOjE6IjEiO31zOjEwOiJsb29zZV9lbmRzIjtiOjE7czo4OiJjYXRlZ29yeSI7czozOiIxMjUiO30'
      %li= link_to "Unmatched Style", 'http://www.google.com/cse?cx=partner-pub-1988806651014029%3A4kuybaak597&ie=ISO-8859-1&q=sass#gsc.tab=0&gsc.q=sass&gsc.page=1'

.tutorials
  %h2 Classes & Tutorials

  %ul
    %li= link_to "CodeSchool", ''
    %li= link_to "", ''
    %li= link_to "", ''
    %li= link_to "", ''
    %li= link_to "", ''
    %li= link_to "", ''

.projects
  %h2 Projects

  %ul
    %li= link_to "Compass", ''
    %li= link_to "Susy", ''
    %li= link_to "Bourbon", ''
    %li= link_to "Neat", ''
    %li= link_to "Zurb Foundation", ''
    %li= link_to "320 and Up", ''
    %li= link_to "Twitter Bootstrap", ''

.contribute
  %h2 Contribute

  %ul
    %li Mailing list
    %li Github (create a CONTRIBUTE file to outline the contribution process)