:markdown
  # Enable Sass in your Project

  ## There are a couple of ways to start using Sass:

%ol.get-started
  %li.frameworks
    .get-started-content
      %h3 Frameworks
      %p.illustration
        %span.circle= image_tag "illustrations/command-line.png", :width => "48", :height => "48", :alt => "Framework Illustration"
      %p.description
        If you or your team is using a dynamic web language or framework, then chances are that Sass support is available. This is the most popular way to use Sass, but sometimes it does require some changes to you project. Here is just a partial list of the frameworks that have Sass support:
    .call-to-action
      %p= link_to "Rails", 'http://guides.rubyonrails.org/asset_pipeline.html', :class => 'button'
      %p= link_to "Node.js", 'https://github.com/andrew/node-sass', :class => 'button'
      %p= link_to "Drupal", 'http://drupal.org/project/sass', :class => 'button'
      %p= link_to "CodeIgniter", 'http://getsparks.org/packages/sass/versions/HEAD/show', :class => 'button'
      %p= link_to "Yii", 'http://www.yiiframework.com/extension/haml-and-sass/', :class => 'button'
      %p= link_to ".net", 'http://libsassnet.codeplex.com/', :class => 'button'
      %p= link_to "Joomla", 'http://www.joomlavision.com/started-sass/', :class => 'button'

      %p This is a very partial list. Just search the web for the name of your framework + Sass and its likely to come up.
  %li.command-line
    .get-started-content
      %h3 Command Line
      %p.illustration
        %span.circle= image_tag "illustrations/command-line.png", :width => "48", :height => "48", :alt => "CLI Illustration"
      / Description for Unix users
      %p.description
        Using Sass on the command line is as simple as using a few commands. To install Sass just type the following into the command line:
    .call-to-action
      / We'll try and point the user to either
      %pre
        :preserve
          gem install sass
      %p To learn how to compile your Sass files, please see our Command Line Reference
      %p
        = link_to "Command Line Guide", '/get-started/command-line#unix', :class => 'button'

      %p For Windows users, go check out the <a href="/get-started/command-line#windows">Sass for Windows Guide</a>.

  %li.gui-application
    .get-started-content
      %h3 GUI Application
      %p.illustration
        %span.circle= image_tag "illustrations/gui.png", :width => "48", :height => "48", :alt => "GUI Illustration"
      %p.description There are many free and paid GUI's that natively support Sass in them. This is the ideal start for the very non-technical user.
    .call-to-action
      %p= link_to "Scout (Mac, Free)", "http://mhs.github.io/scout-app/", :class => 'button'
      %p= link_to "Compass.app ($10)", "http://compass.handlino.com/", :class => 'button'
      %p= link_to "LiveReload ($9.95)", "http://livereload.com/", :class => 'button'
      %p= link_to "CodeKit ($25)", "http://incident57.com/codekit/", :class => 'button'
