---
title: Install Sass
no_container: true
---

.sl-l-grid.sl-l-grid--full.sl-l-large-grid--fit.sl-l-large-grid--gutters-large
  .sl-l-grid__column
    :markdown
      ## Applications

      ![Mouse](illustrations/mouse.svg)

      There are a good many applications that will get you up and running
      with Sass in a few minutes for Mac, Windows, and Linux. You can download
      most of the applications for free but a few of them are paid apps
      <small>(and totally worth it)</small>.

    %ul
      %li
        = link_to "CodeKit", "https://codekitapp.com/"
        (Paid)
        Mac

      %li
        = link_to 'Hammer', 'http://hammerformac.com/'
        (Paid)
        Mac

      %li
        = link_to 'LiveReload', 'http://livereload.com/'
        (Paid, Open Source)
        Mac
        Windows

      %li
        = link_to 'Prepros', 'https://prepros.io/'
        (Paid)
        Mac
        Windows
        Linux

      %li
        = link_to 'Scout-App', 'http://scout-app.io/'
        (Free, Open Source)
        Windows
        Linux
        Mac

    :markdown
      ## Libraries

      The Sass team maintains two Node.js packages for Sass, both of which
      support [the standard JavaScript API]. The [`sass` package] is pure
      JavaScript, which is a little slower but can be installed on all platforms
      Node.js supports. The [`sass-embedded` package] wraps a JS API around the
      Dart VM, so it's faster but only supports Windows, Mac OS, and Linux.

      [the standard JavaScript API]: /documentation/js-api
      [`sass` package]: https://www.npmjs.com/package/sass
      [`sass-embedded` package]: https://www.npmjs.com/package/sass-embedded

      There are also community-maintained wrappers for the following languages:

    %ul
      %li
        #{link_to 'Java', 'https://mvnrepository.com/artifact/de.larsgrefer.sass'},
        including
        #{link_to 'Gradle', 'https://docs.freefair.io/gradle-plugins/current/reference/#_embedded_sass'}
        and
        #{link_to 'Maven', 'https://github.com/HebiRobotics/sass-cli-maven-plugin'}
        plugins.

      %li
        #{link_to 'Ruby', 'https://github.com/ntkme/sass-embedded-host-ruby#readme'}

      %li
        #{link_to 'Swift', 'https://github.com/johnfairh/swift-sass#readme'}

  .sl-l-grid__column
    :markdown
      ## Command Line

      ![Keyboard](illustrations/keyboard.svg)

      When you install Sass on the command line, you'll be able to run the
      `sass` executable to compile `.sass` and `.scss` files to `.css` files.
      For example:

          sass source/stylesheets/index.scss build/stylesheets/index.css

      First install Sass using one of the options below, then run
      `sass --version` to be sure it installed correctly. If it did, this will
      include `#{impl_version(:dart)}`. You can also run `sass --help` for more
      information about the command-line interface.

      Once it's all set up, <strong>go and play</strong>. If you're brand new to
      Sass we've set up some resources to help you learn pretty darn quick.

    %p= link_to 'Learn More About Sass', '/guide', :class => 'sl-c-button sl-c-button--primary'

    %dl
      %dt Install Anywhere (Standalone)

      %dd
        You can install Sass on Windows, Mac, or Linux by downloading the
        package for your operating system
        #{link_to 'from GitHub', release_url(:dart)} and
        <a href='https://katiek2.github.io/path-doc/'>adding it to your
        <code>PATH</code></a>. That's all—there are no external dependencies and
        nothing else you need to install.

      %dt Install Anywhere (npm)

      %dd
        %p
          If you use Node.js, you can also install Sass using
          <a href='https://www.npmjs.com/'>npm</a> by running

        %pre
          :preserve
            npm install -g sass

        <strong>However, please note</strong> that this will install the pure
        JavaScript implementation of Sass, which runs somewhat slower than the
        other options listed here. But it has the same interface, so it'll be
        easy to swap in another implementation later if you need a bit more
        speed!

      %dt Install on Windows (Chocolatey)

      %dd
        %p
          If you use <a href='https://chocolatey.org/'>the Chocolatey package
          manager</a> for Windows, you can install Dart Sass by running

        %pre
          :preserve
            choco install sass

      %dt Install on Mac OS X or Linux (Homebrew)

      %dd
        %p
          If you use <a href='https://brew.sh/'>the Homebrew package
          manager</a> for Mac OS X or Linux, you can install Dart Sass by
          running

        %pre
          :preserve
            brew install sass/sass/sass
