---
title: Brand Guidelines
---

%h2 Logo Usage

%ul
  %li
    Please do not stretch or distort the logo. Use the &ldquo;seal&rdquo;
    version of the logo when needing to use a square image (like avatars).

  %li
    If you have to put the logo on a busy/colorful background, please use one
    of the reversed (on white) logos.

 %p= link_to "Download vector logos", "/assets/img/styleguide/sass-logo.zip", class: "button primary"

.logos
  %h3 Standard
  %ul.list-columns
    %li= image_tag "styleguide/color.png", height: "80"
    %li= image_tag "styleguide/seal-color.png", height: "80"

  %h3 White
  %ul.list-tiled
    %li.swatch-color-background-shade= image_tag "styleguide/white.png", height: "80"
    %li.swatch-color-background-shade= image_tag "styleguide/seal-color-reversed.png", height: "80"
    %li.swatch-color-background-shade= image_tag "styleguide/seal-black-reversed.png", height: "80"

  %h3 Black
  %ul.list-columns
    %li= image_tag "styleguide/black.png", height: "80"
    %li= image_tag "styleguide/seal-black.png", height: "80"

